body {
  font-family: sans-serif;
}

h2 {
  text-align: center;
}

.stepper {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0.8rem;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.step-number {
  width: 30px;
  height: 30px;
  background-color: gray;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-name {
  text-align: center;
  margin-top: 0.5rem;
}

.active .step-number {
  background-color: #007bff;
  color: #fff;
}

.complete .step-number {
  background-color: #28a745;
  color: #fff;
}

.progress-bar {
  position: absolute;
  height: 5px;
  background-color: gray;
  top: 25%;
  left: 0;
  z-index: -1;
}

.progress {
  height: 100%;
  background-color: #28a745;
  transition: 0.2s ease;
}

.btnComponent {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 2rem;
   gap: 0.5rem;
}